.slider{
    width: 1321px;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    &-img{
        width: 100%;
        height: 650px;
    }
}
.main1{
    &-slider{
        
    }
}